server:
  port: 8888
spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/job_manage?characterEncoding=utf-8&serverTimezone=Asia/Shanghai
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource
  redis:
    host: localhost
    port: 6379
  main:
    banner-mode: off
  jackson:
    # 设置时区为东八区，否则获取到前端传入的时间会出现时区差8小时的问题
    time-zone: GMT+8
    date-format: "yyyy-MM-dd HH:mm:ss"
  mail:
    host: smtp.qq.com
    username: csgzs@foxmail.com
    password: guchqzrjzuwaddff
    default-encoding: UTF-8
    # 配置邮件发送者昵称
    nickname: "嗨嗐嗨作业提交管理系统"
    web-site: "你的网站地址，发送邮件时会显示在邮件内容中"
    #其他参数
    properties:
      mail:
        #配置SSL 加密工厂
        smtp:
          ssl:
            #本地测试，先放开ssl
            enable: false
            required: false
          #开启debug模式，这样邮件发送过程的日志会在控制台打印出来，方便排查错误
        debug: false
  mvc:
    servlet:
      load-on-startup: 1
  servlet:
    multipart:
      max-file-size: 50MB
mybatis-plus:
  global-config:
    db-config:
      table-prefix: job_
    banner: false
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  mapper-locations: classpath*:/mapper/**/*.xml
job-manage-settings:
  work-folder-name: "JobManage"
management:
  endpoint:
    shutdown:
      enabled: true
  endpoints:
    web:
      exposure:
        include: shutdown
bot:
  username: 2761626507
  password: dcsflgdxbb77

