<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.belongme.mapper.TaskMapper">
    <resultMap id="taskMap" type="top.belongme.mapper.TaskMapper" autoMapping="true">

    </resultMap>
    <select id="selectPage" resultMap="taskMap">

    </select>

    <select id="getPersonalTaskUploaders" resultType="top.belongme.model.pojo.user.User">
        select t2.id, t2.name, t2.student_number
        from job_task t1
                 join job_user t2
                      on t1.uploader_id = t2.id
        where t1.belong_batch_id = #{belongBatchId}
    </select>

    <select id="getGroupTaskUploaders" resultType="top.belongme.model.pojo.Group">
        select t2.id, t2.name
        from job_task t1
                 join job_group t2
                      on t1.uploader_id = t2.id
        where t1.belong_batch_id = #{belongBatchId}
    </select>
</mapper>
